*{
    margin: 0px;
    padding: 0px;
    font-family: futura-pt, sans-serif;
}
body{
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 149px;
}
.head-1{
    width: 100%;
    height: 33px;
    background: #f8f8f8;
    overflow: hidden;
}
.head-1-item{
    overflow: hidden;
    height: 100%;
    width: 350px;
    margin-left: 32px;
    margin-right: 32px;
    float: right;
    font-family: futura-pt, sans-serif;
    font-size: .875rem;
    letter-spacing: .4px;
}
.head-1-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    color: #666;
    line-height: 30px;
    cursor: pointer;
    font-size: small;
    padding-top: 4px;
}
.head-1-list>li{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-left: 35px;
    padding-right: 35px;
}
#exept{
    padding-left: 9px;
    padding-right: 9px;
    border-color:#f8f8f8;
}
.head-1-list>li:hover{
    color: #0770cf;
}
.head-1-logo-style{
    margin-bottom: 5.5px;
    margin-left: 1.15px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.head-1-logo{
    margin-top: 5px;
    margin-left: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid;
    border-radius: 50%;
    border-color: #ddd;
}
.head-1-logo:hover{
    border-color: #0770cf;
}
.head-2{
    width: 100%;
    height: 65px;
    background-color: #2d2d2d;
    padding-left: 32px;
    padding-right: 32px;
}
.head-2-items{
    width: 1115px;
    height: 65px;
    display: flex;
    align-items: center;
}
.head-2-main-logo{
    width: 100px;
    height: 65px;
}
.head-2-logo-style{
    margin-top: 22px;
}
.head-2-buttons{
    width: 266px;
    height: 65px;
    
}
.head-2-button-1{
    width: 133px;
    height: 65px;
    background-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: futura-pt, sans-serif;
    font-size: .875rem;
    cursor: pointer;
}
.head-2-button-1:hover{
    background-color: #767676;
}
.head-2-button-2{
    width: 127px;
    height: 65px;
    background-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    border-right: 1px solid #666;
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: futura-pt, sans-serif;
    font-size: .875rem;
    cursor: pointer;
}
.head-2-button-2:hover{
    background-color: #767676;
}
.head-2-search{
    width: 750px;;
    height: 65px;
}
.head-2-search-style{
    width: 720px;
    height: 38px;
    margin-top: 12px;
    margin-left: 30px;
    background: #fff;
    border: 0;
    border-radius: 19px / 50%;
    color: #2d2d2d;
    font-size: 1rem;
    height: 38px;
    padding-left: 16px;
    padding-right: 70px;
    position: absolute;
}
.search-icon{
    width: 23px;
    height: 21px;
    position: relative;
    top: 21px;
    left: 715px;
}
.head-2-last{
    width: 218px;
    height: 65px;
    margin-right: -219px;
}
.head-2-icons{
    width: 80%;
    height: 65px;
    margin-left: 25px;
    cursor: pointer;
}
.box{
    height: 65px;
    width: 50px;
    float: left;
}
.box svg{
    width: 21px;
    height: 57px;
    fill: white;
    margin-left: 10px;
}
.head-3{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 56, 92);
}
.head-3-item{
    padding: 0 32px;
    height: 50px;

}
.head-3-btn-1{
    width: 10%;
    height: 50px;
    float: left;
}
.head-3-btn-1-style{
    position: relative;
    top: 10px;
    height: 30px;
    width: 90px;
    background-color: transparent;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .8s ease;
}
.head-3-btn-1-style:hover{
    opacity: 0.4;
    transition: opacity .8s ease;
}
.head-3-btn-2{
    width: 80%;
    height: 50px;
    float: left;
}
.head-3-btn-2-style{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    letter-spacing: 2px;
    width: 90%;
    height: 50px;
    position: relative;
    left: 5%;
    right: 5%;
    font-weight: 900;
}
.head-3-btn-3{
    width: 10%;
    height: 50px;
    float: left;
}
.head-3-btn-3-style{
    position: relative;
    top: 10px;
    left: 30px;
    height: 30px;
    width: 80px;
    background-color: transparent;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .8s ease;
}
.head-3-btn-3-style:hover{
    opacity: 0.4;
    transition: opacity .8s ease;
}
.container{
    width: 100%;
    height: 698px;
    background-color: #0770cf;
    position: absolute;
    right: 40px;
    z-index: -1;
}
.container-item-middle{
    width: 100%;
    height: 300px;
    position: relative;
    bottom: 456px;
    left: 40px; 
}
.container-asos-logo{
    margin-left: 43%;
    height: 105px;
}
.asos-logo-style{
    width: 215px;
    height: 80px;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    background-color: black;
    color: #fff;
}
.logo-content{
    height: 25px;
    position: relative;
    right: 55px;
    width: 330px;
    text-align: center;
    font-size: 21px;
    background-color: black;
    color: white;
}
.container-btn{
    position: relative;
    top: 35px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.container-btn-style{
    height: 55px;
    width: 200px;
    border-color: transparent;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.last-banner{
    position: relative;
    top: 233px;
    width: 100%;
    height: 60px;
    background-color: #2d2d2d;
}
.banner-content-1{
    width: 50%;
    height: 60px;
    cursor: pointer;
    float: left;

}
.content-1-first{
    position: relative;
    left: 235px;
    top: 10px;
    width: 300px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}
.content-1-second{
    position: relative;
    left: 235px;
    top: 14px;
    width: 300px;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner-content-2{
    width: 50%;
    height: 60px;
    float: left;
}
.banner-second{
    position: relative;
    top: 10px;
    width: 270px;
    height: 45px;
    left: 195px;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
}
.set{
    width: 100%;
    height: 700px;
}
.connect{
    width: 100%;
    height: 60px;
}
.social-media{
    margin-left: 346px;
    width: 20%;
    height: 37px;
    margin-top: 15px;
    border-right: 1px solid #666;
    float: left;
}
.facebook{
    width: 50px;
    height: 37px;
    float: left;
}
.facebook-style{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;   
    background-color: #4267B2;
}
.facebook-style:hover{
    border-color: #0770cf
}
.instagram{
    width: 50px;
    height: 37px;
    float: left;
    margin-left: 40px;
}
.instagram-style{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;   
    background-color: purple;
}
.instagram-style:hover{
    border-color: #0770cf
}
.instagram-style > svg{
    fill: white;
    width: 20px;
    height: 20px; 
    margin-left: 7px;
    margin-top: 7px;
}
.twitter{
    width: 50px;
    height: 37px;
    float: left;
    margin-left: 40px;
}
.twitter-style{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;   
    background-color: yellow;
}
.twitter-style>svg{
    fill: white;
    width: 20px;
    height: 20px; 
    margin-left: 8px;
    margin-top: 7px;
    fill: black;
}
.twitter-style:hover{
    border-color: #0770cf
}
.bank-cards{
    width: 30%;
    height: 37px;
    margin-top: 20px;
    float: left;
    margin-left: 60px;
}
.visa{
    height: 22px;
    width: 37px;
}
.master-card{
    height: 22px;
    width: 37px;
    margin-left: 40px;
}
.list{
    width: 100%;
    height: 303px;
    background-color: #eee;
    padding: 32px;
}
.list-contet{
    padding: 32px;
}
.list-content-1{
    width: 277px;
    height: 239px;
    float: left;
}
.list-content-head{
    font-family: futura-pt, sans-serif;
    font-size: .875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #666;
}
.content-1-list>li{
    list-style: none;
    line-height: 30px;
    padding-top: 7px;
    font-size: 12px;
    letter-spacing: 0.4px;
}
.content-1-list>li>a{
    color: #666;
    text-decoration: none;
}
.content-1-list>li>a:hover{
    color: #0770cf;
}
.list-content-2{
    margin-left: 45px;
    width: 277px;
    height: 239px;
    float: left;
}
.list-content-3{
    margin-left: 45px;
    width: 285px;
    height: 239px;
    float: left;
}
.footer{
    width: 100%;
    height: 55px;
    background-color: #ddd;
}
.footer-set{
    width: 95%;
    height: 55px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
}
.copyright{
    height: 32px;
    width: 85px;
    font-size: 12px;
    color: #666;
    padding-top: 23px;
}
.protocol{
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 23px;
    font-size: 12px;
}
.protocol>li>a{
    text-decoration: none;
    color: #666;
}
.protocol>li>a:hover{
    color: #0770cf;
}
.my-place{
    width: 250px;
    height: 50px;
    color: #666;
}
.my-place-content{
    list-style: none;
    line-height: 30px;
    padding-top: 7px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #666;
    display: flex;
    gap: 10px;
}
.flag-logo{
    border: 1px solid #f8f8f8;
    border-radius: 50%;
    box-sizing: border-box;
    height: 15px;
    outline: 1px solid currentColor;
    width: 15px;
}
.my-place>ul:hover{
    color: #0770cf;
}
.my-place>ul>li>h3:hover{
    color: #0770cf;
    cursor: text;
}
.contry-flag{
    border: 1px solid #f8f8f8;
    border-radius: 50%;
    box-sizing: border-box;
    height: 15px;
    outline: 1px solid #666;;
    width: 15px;
}
.contries-1{
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
.contries-2{
    display: flex;
    gap: 30px;
    margin-left: 20px;
    margin-top: 35px;
}